<% if current_user %>
  <!-- <div class="dashboard"> -->
    <a href="/users/<%=session[:user_id]%>/posts/new"><img src="/compose.svg" alt="Compose Post"></a>
    <a href="/users/<%=session[:user_id]%>/posts"><img src="/account.svg" alt="Go to Dashboard"></a>
    <a href='/signout'><img src="/logout.svg" alt="Logout"></a>  
  <!-- </div> -->
<% end %>