<nav class="nav">
  <a href="/posts"><img src="/home.svg" alt="All posts"></a>
  <% if @source %>
    <h1><a  style="font-size: 40px;" href="http://<%= @source %>"><%= @header %></a></h1>
  <% else %>
    <h1><%= @header %></h1>
  <% end %>
</nav>
