<div class="container">
  <header>
    <h1>Welcome to DevErything.</h1>
  </header>
  <div>
    <img id="dbc" src='dbc.jpg'/>
  </div>

  <form action='/signin' method="post">
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <button id="login" type="submit">Sign in</button>
  </form>

  <div>
    <h3>First Time Here?</h3>
    <button><a href='/signup'>Create Account</a></button>
  </div>

  <div>
    <h3>Check Out The Hype...</h3>
    <button><a href="/posts">All Posts</a></button>
  </div>

</div>
