<div class='container'>
  <h1>Create a new post</h1>
  <form action='/posts' method='post'>
    <input type="hidden" name="post[user_id]" value="<%=session[:user_id]%>"/>
    <h2><input type='text' placeholder="<%= @title_error ||= "Title" %>" name='post[title]'/></h2>
    <textarea name='post[content]' cols="60" rows="5" placeholder="<%= @content_error ||= "Post Content" %>"></textarea><br><br>
    <textarea name='tagnames' cols="60" rows="2" placeholder="List tags separated by commas"></textarea><br><br>

    <button type='submit'>Create your post</button>
  </form>

</div>
