.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.container {
  margin: 20px auto;
  width: 700px;
  padding: 20px;
  border: 1px dotted black;
  border-radius: 5px;
  background-color: #a2c0cc;
}

.large_container {
  margin: 20px auto;
  width: 1000px;
  padding: 20px;
  border: 1px dotted black;
  border-radius: 5px;
  background-color: #a2c0cc;
}

.dashboard {
  border: 1px solid black;
  display: inline-block;
  position: fixed;
  top: 20px;
  padding: 25px 15px;
}

div[class*='resource'] {
  width: 475px;
  display: inline-block;
}

div[class^='all_resource'] {
  display: none;
  width: 475px;
}

.dashboard img {
  display: block;
  width: 70px;
  margin-bottom: 10px;
}

div[class*='resource'] img {
  width: 30px;
  margin-left: 10px;

}

div[class*='resource'] h2 {
  display: inline-block;
}

h1{
  display: inline-block;
  margin: 0 0 0 2%;
  font-size: 48px;
  text-align: center;

}

nav img {
  width: 6%;
  margin-right: 10px;
}

th {
  text-align: left;
}

body {
  background-color: #d9e5ea;
}



h3 {
  margin-left: 20px;
}

.update {
  width: 50px;
}
form {
}

form input {
  display: block;
  height: 1.500em;
  text-indent: 5px;
  border-radius: 5px;
  padding: 5px 0;
  margin: 0 0 10px 20px;
}

form textarea {
  margin: 0 0 10px 20px;
  border-radius: 3px;
}

form select {
  border: 1px solid black;
  margin: 10px 10px 10px 20px;
  height: 35px;
}

form option {
}

.submit {
  display: inline;
}

button {
  background-color: #6a9aae;
  margin: 0;
  padding: 0px 10px;
  border-radius: 3px;
  width: 28%;
  border: 1px solid #ecf2f4;
  -moz-box-shadow: 0 0 5px 1px #ecf2f4;
  -webkit-box-shadow: 0 0 5px 1px #ecf2f4;
  box-shadow: 0 0 5px 1px #ecf2f4;
  color: #d9e5ea;
  font-size: 18px;
  margin: 10px 20px;
}

.dashboard button {
  font-size: 24px;
}

button a {
  color: #d9e5ea;
  text-decoration: none;


}

button img {
  width: 40px;
  margin-right: 25px;
}

td {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;

}

td a {
  /*border: 1px solid black;
  text-decoration: none;

}
/*
.title {
  width: 100%;
}*/

.details {
  font-size: 16px;
}

.resource_col img  {
  width: 30px;
}

.vote {
  width: 30px;
}

.resource_col {
  width: 32%;
  display: inline-block;
  margin: 0 5px;
}


.resource_col a:visited {
  color: #5d757e;

}

.resource_col a:link {
  color: #5d757e;
}

.resource_col a:hover{
  color: #183a47;
}

.dashboard {
  border-top:3px solid #d9e5ea;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
}*/
#dbc {
  width: 55%;
  float:right;
  margin: 5% 2% 0 0;
  border-radius: 8px;
}

header {
  display: inline;
  position: absolute;
  top:0;
}

header img {
  width: 5%;
}


