.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 1px dotted black;
  border-radius: 5px;
  background-color: #a2c0cc;
}

th {
  text-align: left;
}

body {
  background-color: #d9e5ea;
}

h1 {
  text-align: center;
}

h3 {
  margin-left: 20px;
}

h2 {
  display: inline-block;
}

form {
}

form input {
  display: block;
  height: 1.500em;
  text-indent: 5px;
  border-radius: 5px;
  padding: 5px 0;
  margin: 0 0 10px 20px;
}

form textarea {
  margin: 0 0 10px 20px;
  border-radius: 3px;
}

form select {
  border: 1px solid black;
  margin: 10px 10px 10px 20px;
  height: 35px;
}

form option {
}

.submit {
  display: inline;
}

button {
  background-color: #6a9aae;
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  width: 25%;
  border: 1px solid #ecf2f4;
  -moz-box-shadow: 0 0 5px 1px #ecf2f4;
  -webkit-box-shadow: 0 0 5px 1px #ecf2f4;
  box-shadow: 0 0 5px 1px #ecf2f4;
  color: #d9e5ea;
  font-size: 18px;
  margin: 10px 20px;
}

button a {
  color: #d9e5ea;
  text-decoration: none;
}

td {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;

}

td a {
  /*border: 1px solid black;*/
  text-decoration: none;

}
/*
.title {
  width: 100%;
}*/

.details {
  font-size: 16px;
}

.vote {
  width: 25px;
}

/*.resource_col {
  border-bottom: 3px solid #183a47;

}*/

.resource_col a:visited {
  color: #5d757e;

}

.resource_col a:link {
  color: #5d757e;
}

.resource_col a:hover{
  color: #183a47;
}

td a:active {

}

#dbc {
  width: 55%;
  float:right;
  margin: 5% 2% 0 0;
  border-radius: 8px;
}

header {
  display: inline;
 /* position: absolute;
  top:0;*/
}

header img {
  width: 5%;
}
