<nav class="nav">
  <a href="/posts"><img src="/images/home.svg" alt="All posts"></a>
  <% if @source %>
    <a class="header" style="font-size: 40px;" href="http://<%= @source %>"><%= @header %></a>
  <% else %>
    <h1><%= @header %></h1>
  <% end %>
</nav>
